<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data,Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <connectionStrings>
    <add name="SqliteConnection" connectionString="Data Source=$Start$ZNCPlatform.db;Version=3;" providerName="System.Data.SQLite"/>
  </connectionStrings>
  
  <dataConfiguration defaultDatabase="SqliteConnection">
    <providerMappings>
      <add databaseType="EntLibContrib.Data.SQLite.SQLiteDataBase, EntLibContrib.Data.SQLite" name="System.Data.SQLite"/>
    </providerMappings>
  </dataConfiguration>

  <system.data>
    <DbProviderFactories>
      <add name="my SQLite Database" invariant="System.Data.SQLite" description="An alias for the SqlProvider" type="EntLibContrib.Data.SQLite.SQLiteDataBase, EntLibContrib.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  
</configuration>
